.quote {
  margin: 0;
  padding: 20px;
  background-color: #262626;
  border-radius: 12px;
  font-size: 14px;
  line-height: 1.5;
  color: #686868;
  font-style: italic;
  text-align: center;
}

.highlight {
  color: #fcfcfc;
  font-style: normal;
}
